*{
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 30px;
    line-height: 150%;
}

body{
    background: #6281D0;
}
.main{
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: -100px;
    margin-left: 720px;
}
.input-texto{
    margin-top: 90px;
    margin-right: 90px;
    font-size: 50px;
    border-radius: 30px;
    background-color:lightgray;
    color:black;
}
.mensagem{
    margin-top: 90px;
    margin-left: -150px;
    background-color:lightgray;
    background-image: url("/imagens/meninocomlupa.png");
    background-repeat: no-repeat;
    border-radius: 30px;
    
    color:black;
}
.botoes{
    display:flex;
    flex-direction:row;
    margin-left: 80px;
    margin-top: 80px;
    margin-right: 60px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 30px;

}   
.encriptar{
    margin-left: 150px;
    width: -150px;
    background-color: #1512C7;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: -20px;
}
.desencriptar{
    margin-left: 15px;
    width: 222px;
    background-color: #1512C7;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    margin-top: -20px;
}
.copia{
    margin-left: 15px;
    width: 222px;
    background-color: #1512C7;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    margin-top: -20px;
}

.titulo{
   display: flex;
   justify-content: center;
}

.titulo figure img {
    margin-top: -15px;
    margin-bottom: 25px;
    margin-left: 150px;
    width: 15;

}

.titulo h1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px whitesmoke;
}
